// 시그니처
$signature-color: (
  main: rgb(29, 155, 240),
);

// 폰트
$font-color: (
  white: #fff,
);

$border-color: (
  boxBorder: rgb(0, 0, 0, 0.1),
);

$bg-color: (
  gray: rgb(245, 245, 245),
);

$hover-color: (
  gray: rgba(0, 0, 0, 0.01),
);
