@import "../../../styles/var";

.tab {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;

  div {
    text-align: center;
    padding: 10px 0px;
    border-bottom: 1px solid map-get($border-color, boxBorder);
    cursor: pointer;
    // &:hover {
    //   background: darken(red, 20%);
    // }
  }
}

.fixedHeader {
  position: sticky;
  z-index: 1;
  // background: rgba(255, 255, 255, 0.1);
}

.active {
  font-weight: bold;
  position: relative;
  &::after {
    content: "";
    border-bottom: 2px solid map-get($signature-color, main);
    width: 90%;
    max-width: 50px;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
