@import "../../../styles/var";

.TrendWrapper {
  background: map-get($bg-color, gray);
  padding: 1rem;
  border-radius: 1rem;
}

.listWrapper {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
