@import "../var";

@mixin hover($background, $type) {
  background: darken(map-get($background, $type), 10%);
}

.btn-radius {
  border-radius: 3rem;
  padding: 0.7rem;
  cursor: pointer;
}

.btn-type-submit {
  background: map-get($signature-color, main);
  font-weight: bold;

  @extend .btn-radius;
  &:hover {
    @include hover($signature-color, main);
  }
}
