@import "ui";

.pageHeader {
  padding: 0.5rem 1rem;
}
.roomList {
  margin-top: 1rem;
}

.searchForm {
  @extend .search-btn;
  padding: 0.5rem;
  border-radius: 3rem;
  display: flex;
  input {
    flex: 1;
    &::placeholder {
      opacity: 0.5;
    }
    &:focus {
      outline: none;
    }
  }
}
