@import "../../../../../../styles//common/btn.scss";
.postFormTextarea {
  width: 100%;
  resize: none;
  grid-column: 1 / -1;
}

.ImgWrapper {
  width: 100%;
  height: 300px;
  background: yellow;
  position: relative;
}

.submitPost {
  @extend .btn-type-submit;
}

.formGrid {
  display: grid;

  grid-template-columns: auto auto;
  justify-content: space-between;
}
