.bodyAlign {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainGrid {
  background: red;
  max-width: 1500px;
  width: calc(100% - 20px);
}

.rightWrapper {
  background: rgb(170, 78, 50);
  display: grid;
  grid-template-columns: minmax(600px, 2fr) minmax(300px, 1fr);
  height: 100dvh;
  margin-left: 300px;
}

.contentsArea {
  background: rgb(240, 116, 14);
}
.rightSection {
  background: red;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  position: relative;
}
