.bodyAlign {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainGrid {
  max-width: 1500px;
  width: calc(100% - 20px);
}

.rightWrapper {
  display: grid;
  grid-template-columns: minmax(600px, 2fr) minmax(300px, 1fr);
  height: 100dvh;
  margin-left: 300px;
}

.contentsArea {
  background: transparent;
  border-right: 1px solid map-get($border-color, boxBorder);
}
.rightSection {
  padding: 1rem 1rem;

  display: flex;
  gap: 20px;
  flex-direction: column;
  position: relative;
}
