.SearchWrapper {
  background: rgb(235, 235, 235);
  padding: 10px;
  border-radius: 2rem;

  form {
    display: flex;
  }

  input {
    background: transparent;
    color: #000;
    flex: 1;
    &:focus {
      outline: none;
    }
  }
}

.active {
  border: 1px solid rgb(60, 226, 38);
}
