.SearchWrapper {
  background: rgb(235, 235, 235);
  padding: 10px;
  border-radius: 2rem;
  position: sticky;
  top: 10px;
  margin-bottom: 1rem;
  align-items: center;
  width: calc(100% - 1rem);
  form {
    display: flex;
  }

  input {
    background: transparent;
    color: #000;
    flex: 1;
    &:focus {
      outline: none;
    }
  }
}

.active {
  border: 1px solid rgb(60, 226, 38);
}
